<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Successful</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Lora:wght@400;700&family=Inter:wght@400;600&display=swap"
          rel="stylesheet">

    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/success.css}" rel="stylesheet">
    <link th:href="@{/css/header.css}" rel="stylesheet">

</head>
<div th:replace="fragments/header :: header"></div>
<body>
<div class="success-container">
    <div class="checkmark"></div>
    <p class="success-message">Created!</p>
</div>
</body>
</html>