<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/base.css}" rel="stylesheet">
    <link th:href="@{/css/success.css}" rel="stylesheet">

    <title>Registration Successful</title>
    <link href="https://fonts.googleapis.com/css2?family=Bungee&family=Lora:wght@400;700&family=Inter:wght@400;600&display=swap"
          rel="stylesheet">

</head>
<body>
<div class="success-container">
    <div class="checkmark"></div>
    <p class="success-message">You have successfully registered!</p>
    <div class="login-link">
        You can now<a href="/auth/signin"><strong>Sign In</strong></a>
    </div>
</div>
</body>
</html>